<!-- additional info -->
<div class="feed-info">
	{{#each job_info}}
	<div class="feed-info-row">
		<div class="feed-info-label">{{@key}}</div>
		<div class="feed-info-text">{{this}}</div>
	</div>
	{{/each}}
</div>
