<!-- option -->
<div class="option">
	{{#if dropup}}
	<div class="dropup">
	{{else}}
	<div class="dropdown">
	{{/if}}
		<button type="button" class="button -transparent dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-tooltip="tooltip" data-placement="bottom" title="Option">
			<span class="icon-option"><i></i></span>
		</button>
		<div class="dropdown-menu dropdown-menu-right" aria-labelledby="menuOption">
			{{#eq type compare="option"}}
			{{#if option}}
			{{#each (split option ",") as |item|}}
			<a class="dropdown-item" data-toggle="modal" data-target="#modal{{#eq item compare="Edit"}}Comment{{/eq}}{{pascalcase item}}" href="#" role="button">{{item}}</a>
			{{/each}}
			{{/if}}
			{{/eq}}
			{{#eq type compare="msg-option"}}
			{{#if group}}
			<a class="dropdown-item" data-toggle="modal" data-target="#modalMsgGroup0" href="#" role="button">Group Info</a>
			<a class="dropdown-item" data-toggle="modal" data-target="#modalUnfollow" href="#" role="button">Leave Group</a>
			{{/if}}
			<a class="dropdown-item" data-toggle="modal" data-target="#modalReport" href="#" role="button">Report</a>
			<a class="dropdown-item" data-toggle="modal" data-target="#modalDelete" href="#" role="button">Delete Chat</a>
			{{/eq}}
			{{#eq type compare="msg-group"}}
			<a class="dropdown-item" data-toggle="modal" data-target="#modalUnfollow" href="#" role="button">Remove From Group</a>
			<a class="dropdown-item" data-toggle="modal" data-target="#modalUnfollow" href="#" role="button">Make Admin</a>
			{{/eq}}
			{{#eq type compare="default"}}
			{{!-- <a class="dropdown-item" href="#">Hide Post</a> --}}
			<a class="dropdown-item -loading-bar" href="#">Unfollow</a>
			<a class="dropdown-item" data-toggle="modal" data-target="#modalUnfollow" href="#" role="button">Unfollow</a>
			<a class="dropdown-item" data-toggle="modal" data-target="#modalReport" href="#" role="button">Report</a>
			<a class="dropdown-item" data-toggle="modal" data-target="#modalDelete" href="#" role="button">Delete Post</a>
			{{!-- <button type="button" class="dropdown-item" role="link">Edit Post</button> --}}
			{{/eq}}
		</div>
	</div>
</div>
<!-- option -->
