<!-- modal  delete -->
<form action=".html">
	<div id="modalDelete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Form" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="icon-close" aria-hidden="true"></span></button>
				<div class="modal-header">
					<h5 class="modal-title">Delete</h5>
				</div>
				<div class="modal-body">
					<div class="modal-text">Are you sure want to delete?</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="button" data-dismiss="modal">Cancel</button>
					<button class="button -primary">Delete</button>
				</div>
			</div>
		</div>
	</div>
</form>
