<div id="modalNavAdd" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="navAdd" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="nav-modal">
				<div class="nav-modal-item">
					<a class="nav-link" data-toggle="modal" data-target="#modalQnaAdd" role="button" aria-label="Ask a Question">
						<div class="nav-flex">
							<div class="nav-icon">
								<span class="icon-general icon-qna"></span>
							</div>
							<div class="nav-text">Ask a Question</div>
						</div>
					</a>
				</div>
				<div class="nav-modal-item">
					<a class="nav-link" data-toggle="modal" data-target="#modalNeoblogAdd" role="button" aria-label="Write a Story">
						<div class="nav-flex">
							<div class="nav-icon">
								<span class="icon-general icon-neoblog"></span>
							</div>
							<div class="nav-text">Write a Story</div>
						</div>
					</a>
				</div>
				<div class="nav-modal-item">
					<a class="nav-link" data-toggle="modal" data-target="#modalJobAdd" role="button" aria-label="Post a Job">
						<div class="nav-flex">
							<div class="nav-icon">
								<span class="icon-general icon-jobs"></span>
							</div>
							<div class="nav-text">Post a Job</div>
						</div>
					</a>
				</div>
				<div class="nav-modal-item">
					<a class="nav-link" data-toggle="modal" data-target="#modalProductAdd" role="button" aria-label="Add Product">
						<div class="nav-flex">
							<div class="nav-icon">
								<span class="icon-general icon-store"></span>
							</div>
							<div class="nav-text">Add Product</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- modal neoblog add -->
<form action="neoblog.html">
	<div id="modalNeoblogAdd" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="neoblogForm" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="icon-close" aria-hidden="true"></span></button>
				<div class="modal-header">
					<h5 class="modal-title">Write Story</h5>
				</div>
				<div class="modal-body">
					<div class="post-modal -neoblog">
						<div class="post-modal-content">
							<textarea name="neoblog-textarea" id="neoblog-textarea-add" class="tinymce-textarea"></textarea>
							<div class="post-footnote">
								<div class="post-input-counter"><span class="postRemaining">0</span>/<span class="postMax">200</span></div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="button">Save to draft</button>
					<button class="button -primary">POST</button>
				</div>
			</div>
		</div>
	</div>
</form>

<!-- modal qna add -->
<form action="qna.html">
	<div id="modalQnaAdd" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="qnaForm" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="icon-close" aria-hidden="true"></span></button>
				<div class="modal-header">
					<h5 class="modal-title">New Question</h5>
				</div>
				<div class="modal-body">
					<div class="post-modal -qna">
						<div class="post-modal-content">
							<!-- 
							<textarea name="qna-textarea" id="qna-textarea-add" class="post-input js-mentionable" placeholder="Start your question with 'What', 'How', 'Why'"></textarea>
							-->
							<article name="qna-contenteditable" id="qna-contenteditable-add" class="post-contenteditable js-mentionable" placeholder="Start your question with 'What', 'How', 'Why'"></article>
							<textarea name="qna-textarea" id="qna-textarea-add" class="post-textarea-hidden"></textarea>
							<div class="post-footnote">
								<div class="form-row">
									<div class="form-checkbox">
										<input type="checkbox" name="anonymous" id="anonymous" value="">
										<label for="anonymous">Anonymous</label>
									</div>
								</div>
								<div class="post-input-counter"><span class="postRemaining">0</span>/<span class="postMax">200</span></div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="button">Save to draft</button>
					<button class="button -primary">POST</button>
				</div>
			</div>
		</div>
	</div>
</form>

