<!DOCTYPE html>
<html lang="en">

{{>base/head font="link"}}

<body>
	<!-- s: root -->
	<div class="root">

		<div class="welcome-wrap">

			<section class="welcome-error">
				<h2>404</h2>
				<h3>Error, page not found.</h3>
				<p>Uuhh, we're so sorry, we seem can't find the page you're lookin for. Try to go back to previous page, or <a href="index.html">back to home</a></p>
			</section>

			<section class="welcome-bg">
				<span style="background-image: url('../asset/images/welcome-background.png');"></span>
			</section>
		</div>

	</div>
	<!-- e: root -->

{{>base/js}}
</body>
</html>
