<!DOCTYPE html>
<html lang="en">

{{>base/head font="link"}}

<body>
	<!-- s: root -->
	<div class="root">

		{{>layout/header login=true}}
		
		<!-- grid -->
		<div class="grid">

			<div class="grid-flex">

				<div class="grid-col -nav">
					<div class="nav-fixed">
						{{>layout/nav logged=true active="Figure"}}

						{{>layout/footer footer="small"}}
					</div>
				</div>

				<div class="grid-col -wide">

					<!-- feeds -->
					<div class="feed-list">
						{{#each people}}
						{{#eq type compare="figure"}}
						<section class="feed box">
							{{>module/feed timeline="index"}}
						</section>
						{{else}}
						{{/eq}}
						{{/each}}
					</div>

					{{>component/more label="Load more"}}

				</div>

				<div class="grid-col -aside">
					{{>layout/sidebar}}
				</div>

			</div>

		</div>

		<!-- notify message -->
		{{>module/panel_alert}}

	</div>
	<!-- e: root -->

	<!-- emoji source -->
	<div id="emoji">
		{{>component/emoji}}
	</div>

	<!-- nav add post -->
	{{>module/nav_add_post}}

{{>base/js}}
</body>
</html>
