<!DOCTYPE html>
<html lang="en">

{{>base/head font="link"}}

<body>
	<!-- s: root -->
	<div class="root">

		<div class="welcome-wrap">
			<header class="welcome-logo">
				<h1 class="welcome-img">
					<a href="index.html" role="link">
						<img src="../asset/images/logo-{{lowercase base.title}}-red.svg" alt="{{base.title}}" width="447" height="79">
					</a>
				</h1>
			</header>

			<section class="welcome-download">
				{{>module/app_widget}}
			</section>

			<section class="welcome-gate">
				{{>component/button type="link" href="index-login.html" class="-primary" label="POST"}}
			</section>

			<section class="welcome-bg">
				<footer class="footer-bottom">
					{{>layout/footer_block}}
				</footer>
				<span style="background-image: url('../asset/images/welcome-background.png');"></span>
			</section>
		</div>

	</div>
	<!-- e: root -->

{{>base/js}}
</body>
</html>
