<!DOCTYPE html>
<html lang="en">

{{>base/head font="link"}}

<body>
	<!-- s: root -->
	<div class="root">

		<div class="welcome-wrap">
			<header class="welcome-logo">
				<h1 class="welcome-img">
					<a href="index.html" role="link">
						<img src="../asset/images/logo-{{lowercase base.title}}-red.svg" alt="{{base.title}}" width="447" height="79">
					</a>
				</h1>
			</header>
			
			<!-- reset -->
			<section class="panel">
				{{>component/title title="Reset Password"}}
				<div class="panel-body">
					<form action="index-reset-result.html">
						<div class="sign-text">
							Enter your email address below and we'll send you a link with instructions.
						</div>
						{{>component/input type="text" label="Email Address" name="name"}}
						{{>component/button type="submit" label="Send" name="reset" class="-primary"}}
						<div class="sign-text -center">
							<a href="index-signup.html">Create new account</a>
						</div>
					</form>
				</div>
			</section>

			<section class="welcome-download">
				{{>module/app_widget}}
			</section>

			<section class="welcome-bg">
				<span style="background-image: url('../asset/images/welcome-background.png');"></span>
			</section>
		</div>

	</div>
	<!-- e: root -->

{{>base/js}}
</body>
</html>
