<div id="smart-banner" class="smart-banner">
	<div class="smart-wrap">
		<div class="smart-left"><a class="smart-close">×</a>
			<div class="smart-icon" style="background-image:url('./asset/images/app-icon.png')"></div>
		</div>
		<div class="smart-info">
			<div class="smart-desc">Borneopedia for <span id="smart-type"></span></div>
			<div class="smart-rating">
				<span class="bg"></span>
				<span class="fg" id="smart-rating" data-rating="4.5"></span>
			</div>
		</div>
		<div class="smart-right">
			<div class="smart-btn">Install</div>
		</div>
	</div>
	<a class="smart-link" id="smart-link" href="#" data-playstore="https://play.google.com/store/apps/details?id=com.ertanto.kompas.official&hl=en&gl=US" data-appstore="https://apps.apple.com/id/app/kompas-com-berita-terpercaya/id535483055"></a>
</div>
