<div class="feed-action">
	<!-- like button -->
	<div class="feed-action-item feed-action-like">
		<button type="button" id="btn-feed-like" name="btn-feed-like" class="button btn -interact" data-toggle="button" aria-pressed="false">
			<span class="icon-general icon-like"></span>
		</button>
		<button data-toggle="modal" data-target="#modalLikedBy" class="feed-stat-button">23</button>
	</div>

	<!-- comment button -->
	<div class="feed-action-item feed-action-comment">
		<a href="" class="button -interact" id="btn-feed-comment" role="link">
			<span class="icon-general icon-comment"></span>
			<span id="count-comment">2k</span>
		</a>
	</div>

	<!-- share button -->
	<div class="feed-action-item feed-action-share">
		<div class="dropup">
			<button type="button" id="btn-feed-share" name="btn-feed-share" class="button -interact dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="icon-general icon-share"></span>
				<span id="count-share">93</span>
			</button>
			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="btn-feed-share">
				<a class="dropdown-item" href="#"><div class="icon-social -facebook"><span class="icon-general icon-facebook"></span></div> Facebook</a>
				<a class="dropdown-item" href="#"><div class="icon-social -twitter"><span class="icon-general icon-twitter"></span></div> Twitter</a>
				<a class="dropdown-item" href="#"><div class="icon-social -whatsapp"><span class="icon-general icon-whatsapp"></span></div> Whatsapp</a>
				<a class="dropdown-item" href="#"><div class="icon-social -line"><span class="icon-general icon-line"></span></div> Line</a>
			</div>
		</div>
	</div>


</div>
