<section class="user-header box">
	<div class="user-row-top">
		<div class="user-avatar">
			<img src="../asset/images/dummy/avatar.jpg" alt="Chelsea">	
		</div>
		<div class="user-col">
			<h1 class="user-name">Chelsea Amalia <span class="user-verify"></span></h1>
			<div class="user-location">Pontianak</div>
			<div class="user-rewards">
				<span class="icon-general icon-rewards"></span>
				<span class="icon-general icon-rewards"></span>
			</div>
		</div>
	</div>
	<div class="user-row-bio">
		<div class="user-bio">Menjadi Anak tunggal kalau Ayah dan Bunda minta tolong beberes rumah. Sambat kebudayaan everyday. Author and arts researcher, (sometimes) I also do acting 👻</div>
	</div>
	<div class="user-row-stat">
		<div class="user-col">
			<div class="user-stat">21 <span>Activities</span></div>
		</div>
		<div class="user-col">
			<a class="user-stat-link" href="people.html">
				<div class="user-stat">1234 <span>Followers</span></div>
			</a>
		</div>
		<div class="user-col">
			<a class="user-stat-link" href="people.html">
				<div class="user-stat">2 <span>Following</span></div>
			</a>
		</div>
	</div>
	<div class="user-row-action">
	</div>
</section>
