.app {
	&-badge {
		@include display-flex();
		flex-wrap: wrap;
		justify-content: space-between;
		padding-top: .25rem;
		padding-bottom: .25rem;
		img {
			height: 24px;
			margin-top: .125rem;
			margin-bottom: .125rem;
			// @include min-responsive($screen-large-desktop) {
			// 	height: 35px;
			// }
		}
		& > a:last-child {
			img {
				// width: auto;
				height: 36px;
			}
		}
		& > a:first-child {
			& + a:last-child {
				img {
					height: 24px;
				}
			}
		}
	}
	&-modal {
		padding: 1rem 1rem 2rem;
	}
}
