.filter {
	position: relative;
	margin: 0;
	height: 68px;
	&-block {
		position: relative;
		// padding: .625rem 0;
		padding: 1.625rem 0 .625rem;
		margin: 0 -.438rem;
		@include display-flex();
		align-items: center;
		justify-content: space-between;
		// height: 36px;
		&-left {
			@include display-flex();
			align-items: center;
			justify-content: flex-start;

			max-width: 100%;
			overflow-x: auto;
			padding-bottom: .125rem;
		}
		&-right {
			@include display-flex();
			align-items: center;
			justify-content: flex-end;
		}
		.form-row {
			padding: 0 .438rem;
		}
	}
	&-item {
		position: relative;
		// display: inline-block;
		// &.-right {
			// margin-left: auto;
			// float: right;
			// &:last-child {
			// 	margin-left: 0;
			// }
			// &:first-child {
			// 	margin-left: 0;
			// }
		// }
	}
	&-button {
		.nav-badge {
			top: 5px;
			right: 5px;
		}
	}
	&.fixed {
		.filter-block {
			position: fixed;
			z-index: 8;
			background: #F8F9FB;
			top: 70px;
			padding: 1.625rem 0 .625rem;
			@include transition(all .5s ease);
			// border-bottom: 1px solid #f0f0f0;
			// box-shadow: 0 0 2px rgba(0,0,0,.2);
			// width: 584px;
			// width: 100%;
			width: calc(100% - 85px - 275px - 15px);
			// @include min-responsive($screen-tablet) {
				// width: calc(768px - 85px - 15px);
			// }
			@include min-responsive($screen-desktop) {
				width: calc(445px + 14px);
			}
			@include min-responsive($screen-large-desktop) {
				width: calc(570px + 14px);
			}
		}
	}
	&.slim {
		.filter-block {
			@include transform(translate(0,-1rem));
			border-bottom: 1px solid #f0f0f0;
		}
	}
	&.down {
		// .filter-block {
		// 	border-bottom: 1px solid #f0f0f0;
		// }
		&.deeper {
			.filter-block {
				@include transform(translate(0,-70px));
			}
		}
	}
	// &.center {
	// 	.filter-block {
	// 		justify-content: space-between;
	// 	}
	// 	.filter-block-left {
	// 		width: 100%;
	// 	}
	// }

	// & + * > section.feed,
	& + * > section {
		margin: 0 0 1rem;
	}
}
