<div id="modalLogin" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLogin" aria-hidden="true">
	<div class="modal-dialog -small">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="icon-close" aria-hidden="true"></span></button>
			<div class="modal-header">
				<h5 class="modal-title">Sign In</h5>
			</div>
			{{#if auth}}
			<div class="panel-alert auth-message -{{auth}}">
				{{message}}
			</div>
			{{/if}}
			<div class="modal-body">
				<div class="sign-modal">
					{{>module/panel_login sosmed=true}}
				</div>
			</div>
		</div>
	</div>
</div>
