<!-- modal report -->
<form action="home.html">
	<div id="modalReport" class="modal fade modal-confirm" tabindex="-1" role="dialog" aria-labelledby="reportForm" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="icon-close" aria-hidden="true"></span></button>
				<div class="modal-header report">
					<h2 class="title">Report This Post</h2>
				</div>
				<div class="modal-body">
					<div class="setting box report">
						<div class="user-form setting-verify">
							<div class="user-form-row">
								<div class="form-row">
									<input class="form-check-input custom" type="radio" name="reason" value="sara" id="reason-racist" required="">
									<label class="form-check-label custom" for="reason-racist">
										Racist/ Hate Speech/ discrimination (SARA)
									</label>
								</div>
								<div class="form-row">
									<input class="form-check-input custom" type="radio" name="reason" value="inappropriate" id="reason-inappropriate">
									<label class="form-check-label custom" for="reason-inappropriate">
										Inappropriate
									</label>
								</div>
								<div class="form-row">
									<input class="form-check-input custom" type="radio" name="reason" value="sex" id="reason-sex">
									<label class="form-check-label custom" for="reason-sex">
										Sex/ Pornography
									</label>
								</div>
								<div class="form-row">
									<input class="form-check-input custom" type="radio" name="reason" value="plagiarism" id="reason-plagiarism">
									<label class="form-check-label custom" for="reason-plagiarism">
										Plagiarism
									</label>
								</div>
								<div class="form-row">
									<input class="form-check-input custom" type="radio" name="reason" value="other" id="reason-other">
									<label class="form-check-label custom" for="reason-other">
										Other
									</label>
								</div>
								<div class="form-row">
									<div class="form-hint"><span>*</span> Write your reason at least 20 characters</div>
									<div class="form-input">
										<textarea name="context" class="" cols="4" required=""></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="button" data-dismiss="modal">Cancel</button>
					<button class="button -primary">Report</button>
				</div>
			</div>
		</div>
	</div>
</form>
