<div id="success-msg" class="panel-alert -fixed -success{{#if modal}} -modal{{/if}}">
	<p>Yeay! You were successful.</p>
</div>
<div id="error-msg" class="panel-alert -fixed -error{{#if modal}} -modal{{/if}}">
	<p>Failed, there was a problem, try again later.</p>
</div>
