.icon {
	&-arrow {
		position: relative;
		display: block;
		width: 1rem;
		height: 1rem;
		// vertical-align: top;
		&:after {
			content: '';
			position: absolute;
			width: .5rem;
			height: .5rem;
			border-top: 2px solid #fff;
			border-left: 2px solid #fff;
			top: 50%;
			left: 50%;
			@include transform(translate(-50%, -50%));
		}
		&-left {
			@include transform(rotate(-40deg));
			&2 {
				@include transform(rotate(-40deg));
				width: 1.125rem;
				margin-right: .5rem;
				&:before {
					content: '';
					display: block;
					width: .875rem;
					position: absolute;
					top: 9px;
					left: 4px;
					border-top: 1px solid #5e5e5e;
					@include transform(rotate(40deg));
				}
				&:after {
					border-top: 1px solid #5e5e5e;
					border-left: 1px solid #5e5e5e;
				}
			}
		}
		&-right {
			@include transform(rotate(135deg));
		}
		&-up {
			@include transform(rotate(40deg));
		}
		&-down {
			@include transform(rotate(-135deg));
		}
	}
}