<!-- header -->
<header class="header -fixed">
	<div class="header-flex">
		<div class="header-col">
			<!-- search -->
			<div class="search-header">
				<form action="search.html">
					<input type="text" class="input" name="search" placeholder="Search">
					<input type="submit" class="button" name="search-btn" value="Search">
					<span class="icon-general icon-search"></span>
				</form>
			</div>
		</div>
		<div class="header-col">
			<div class="logo">
				{{#if login}}
				<a href="home.html">
				{{else}}
				<a href="index.html">
				{{/if}}
					<img src="../asset/images/logo-{{lowercase base.title}}.svg" alt="{{base.title}}" width="275" height="46">
				</a>
			</div>
		</div>
		<div class="header-col">
			<!-- menu -->
			<div class="menu-header">
				{{#if login}}
				<!-- menu user -->
				<div class="menu-item">
					<div class="dropdown">
						<button type="button" class="button -transparent dropdown-toggle" role="button" id="menuHeaderDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<div class="menu-user">
								<div class="menu-user-img">
									<img src="../asset/images/dummy/avatar.jpg" alt="">
								</div>
							</div>
						</button>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="menuHeaderDropdown">
							<a class="dropdown-item" href="profile-mypost.html">View Profile</a>
							<a class="dropdown-item" href="index.html">Logout</a>
						</div>
					</div>
				</div>
				<!-- menu message -->
				<div class="menu-item">
					<a class="button menu-button" href="message.html" role="link">
						<span class="nav-badge">5</span>
						<span class="icon-general icon-message"></span>
					</a>
				</div>
				<!-- menu notify -->
				<div class="menu-item">
					<a class="button menu-button" href="notification.html" role="link">
						<span class="nav-badge">5</span>
						<span class="icon-general icon-bell"></span>
					</a>
				</div>
				{{else}}
				<!-- menu login -->
				<div class="menu-item">
					<a class="button menu-button" role="button" data-toggle="modal" data-target="#modalLogin">
						<span class="icon-general icon-user"></span>
					</a>
				</div>
				{{/if}}
			</div>
		</div>
	</div>
</header>
