.loading-icon-container {
	width: 40px;
	height: 36px;
	top: 0;
	background: #f5f4f4;
    z-index: 1;
	@include transform(translate(7px, -8px));
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
}
.loading-icon-container .loader::after, .loader::before {
	background-color: transparent !important;
}

// upload
.user-form {
	&-col {
		flex-basis: 0;
		flex-grow: 1;
		label:empty {
			min-height: 16px;
			margin-bottom: .25rem;
		} 
		// input[type=file] {
		// 	width: 185px;
		// }
	}
	&-document {
		margin-left: 1.5rem;
		width: 175px;
		flex-basis: 175px;
		flex-grow: 0;
	}
}

// plugin scrollbar
.scroll-wrapper{
	-ms-overflow-style : none
}

// mobile
body.mobile {
	.root {
		width: 100%;
	}
} 

// sosmed login
.button {
	&.-apple,
	&.-facebook,
	&.-google {
		margin: -.75rem 0;
		.icon-general {
			margin-top: -.125rem;
			margin-right: .5rem;
		}
	}
}
.sign-text.-sosmed {
	position: relative;
	display: flex;
	justify-content: center;
	&:before {
		content: '';
		position: absolute;
		top: 50%;
		border-top: 1px solid #d7d7d7;
		width: 100%;
	}
	& > .text-center {
		position: relative;
		background: #fff;
		padding: 0 .25rem;
		font-weight: 700;
	}
}

// tooltip
.dropup.open,
.dropdown.open {
	& > .tooltip {
		pointer-events: none;
		opacity: 0;
	}
}

// dr gw
.modal-edit {
	.modal-header {
		border-bottom: none;
	}
	.modal-text {
		padding: 0 1rem;
	}
	.modal-footer {
		border-top: none;
	}
}

// override dari buatan dev
.modal-confirm .modal-dialog {
	@include min-responsive(768px) {
		width: 460px;
	}
}
.modal-confirm .modal-body .modal-text {
	padding: .75rem 1rem !important;
}
.modal-confirm .modal-header.modal-delete {
	padding: 15px 15px 15px 40px !important;
}
.modal-confirm .modal-delete:before {
	top: 1.125rem !important;
	left: 15px !important;
}
.modal-confirm .modal-delete:after {
	top: .875rem !important;
	left: 22px !important;
}
.modal-confirm .modal-header.report {
	margin: 0 !important;
	padding: 15px !important;
}
.modal-confirm .modal-header h2 {
	font-size: 1.125rem;
    font-weight: 600;
	margin: 0 !important;
}
.modal-confirm .setting.report {
	padding: 0 1rem !important;
	.user-form .form-row {
		padding: 0.375rem 0;
		padding-bottom: 0.375rem;
	}
	.form-check-label.custom {
		padding-bottom: 0;
		text-transform: inherit;
		letter-spacing: 0;
		font-size: .875rem;
	}
	.form-check-input.custom {
		border-radius: 100%;
		padding: 0;
		width: 1rem;
		height: 1rem;
		border: 1px solid #e7e7e7;
		box-shadow: none;
	}
	.form-check-input.custom:checked {
		border: 1px solid #767D87;
	}
	.form-input {
		height: auto;
	}
	textarea {
		// border: 1px solid #767D87;
		min-height: 100px;
	}
}