.loading-icon-container {
	width: 40px;
	height: 36px;
	top: 0;
	background: #f5f4f4;
    z-index: 1;
	@include transform(translate(7px, -8px));
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
}
.loading-icon-container .loader::after, .loader::before {
	background-color: transparent !important;
}

// upload
.user-form {
	&-col {
		flex-basis: 0;
		flex-grow: 1;
		label:empty {
			min-height: 16px;
			margin-bottom: .25rem;
		} 
		// input[type=file] {
		// 	width: 185px;
		// }
	}
	&-document {
		margin-left: 1.5rem;
		width: 175px;
		flex-basis: 175px;
		flex-grow: 0;
	}
}