<script type="text/javascript" src="../asset/js/jquery.min.js"></script>
<script type="text/javascript" src="../asset/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../asset/js/plugin-pack.js"></script>
<script type="text/javascript" src="../asset/js/main.js"></script>
<script>
// tinymce
let plugins = 'emoticons lists image';
let toolbar = 'bold italic | bullist | image';
tinymce.init({
	selector: '.tinymce-textarea',
	menubar: false,
	placeholder: 'Write here',
	statusbar: false,
	min_height: 285,
	plugins: plugins,
	toolbar: toolbar
});
tinymce.init({
	selector: '.tinymce-inline',
	menubar: false,
	placeholder: 'Answer here',
	statusbar: false,
	min_height: 100,
	plugins: plugins,
	toolbar: toolbar
});

// modal
$('#modalNeoblogAdd').on('show.bs.modal', function () {
	$('#modalNavAdd').modal('hide');
});
$('#modalNeoblogAdd').on('shown.bs.modal', function () {
	tinymce.get('neoblog-textarea-add').focus();
});
$('#modalQnaAdd').on('show.bs.modal', function () {
	$('#modalNavAdd').modal('hide');
});
  
// mention 
var tribute = new Tribute({
  values: [
    { key: "Chris Wibisana", value: "@Chris Wibisana" },
    { key: "Vika Dyahsasanti", value: "@Vika Dyahsasanti" },
    { key: "Didik Wicaksono", value: "@Didik Wicaksono" },
    { key: "Noorchamid Ustadi", value: "@Noorchamid Ustadi" },
    { key: "Ahmed Djaelani", value: "@Ahmed Djaelani" },
    { key: "Dr. Alue Dohong", value: "@Dr. Alue Dohong" },
    { key: "Mochammad Toha", value: "@Mochammad Toha" },
    { key: "Kiki Rahmadhani", value: "@Kiki Rahmadhani" },
    { key: "Dr. Yansen Tipa Padan", value: "@Dr. Yansen Tipa Padan" },
    { key: "Annisa Syaidar", value: "@Annisa Syaidar" },
    { key: "Prof. Masri Sareb", value: "@Prof. Masri Sareb" },
    { key: "Budi Wonderkids", value: "@Budi Wonderkids" },
    { key: "Andreas Marbun", value: "@Andreas Marbun" },
    { key: "Bana Elvianto", value: "@Bana Elvianto" },
    { key: "Chelsea Olivia", value: "@Chelsea Olivia" },
  ],
    selectTemplate: function(item) {
    return (
      '<span class="at" contenteditable="false">' + item.original.value + '</span>'
    );
  }
});
// attach element
tribute.attach(document.querySelectorAll(".js-mentionable"));

// copy to textarea
let textareaContent = document.getElementById('qna-textarea-add');
let editableContent = document.getElementById('qna-contenteditable-add');
if(!!editableContent) {
	editableContent.addEventListener('input', function(e){
		if(!!textareaContent) {
			textareaContent.value = editableContent.innerHTML;
		}
	});
}
</script>
