<!-- header -->
<header class="header -fixed">
	<div class="header-flex">
		<div class="header-col">
			<!-- search -->
			<div class="search-header">
				<form action="search.html">
					<input type="text" class="input" name="search" placeholder="Search">
					<input type="submit" class="button" name="search-btn" value="Search">
					<span class="icon-general icon-search"></span>
				</form>
			</div>
		</div>
		<div class="header-col">
			<div class="logo">
				<a href="index.html">
					<img src="../asset/images/logo-borneopedia.svg" alt="Borneopedia" width="275" height="46">
				</a>
			</div>
		</div>
		<div class="header-col">
			<!-- menu -->
			<div class="menu-header">
				<!-- menu login -->
				<div class="menu-item">
					<a class="button menu-button" role="button" data-toggle="modal" data-target="#modalLogin">
						<span class="icon-general icon-user"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</header>
