<!-- nav main -->
<nav class="nav" aria-label="Main Navigation">
	<ol class="nav-wrap">
		<li class="nav-item">
			<a href="home.html" class="nav-link" role="link" aria-label="Home">
				<div class="nav-flex">
					<div class="nav-icon">
						<span class="icon-general icon-home"></span>
					</div>
					<div class="nav-text">Home</div>
				</div>
			</a>
		</li>
		<li class="nav-item">
			<a href="news.html" class="nav-link" role="link" aria-label="News">
				<div class="nav-flex">
					<div class="nav-icon">
						<span class="icon-general icon-news"></span>
					</div>
					<div class="nav-text">News</div>
				</div>
			</a>
		</li>
		<li class="nav-item">
			<a href="qna.html" class="nav-link" role="link" aria-label="Q&amp;A">
				<div class="nav-flex">
					<div class="nav-icon">
						<span class="icon-general icon-qna"></span>
					</div>
					<div class="nav-text">Q&amp;A</div>
				</div>
			</a>
		</li>
		<li class="nav-item">
			<a href="figure.html" class="nav-link" role="link" aria-label="Figure">
				<div class="nav-flex">
					<div class="nav-icon">
						<span class="icon-general icon-figure"></span>
					</div>
					<div class="nav-text">Figure</div>
				</div>
			</a>
		</li>
		<li class="nav-item">
			<a href="neoblog.html" class="nav-link" role="link" aria-label="Neoblog">
				<div class="nav-flex">
					<div class="nav-icon">
						<span class="icon-general icon-neoblog"></span>
					</div>
					<div class="nav-text">Neoblog</div>
				</div>
			</a>
		</li>
		<li class="nav-item">
			<a href="jobs.html" class="nav-link" role="link" aria-label="Jobs">
				<div class="nav-flex">
					<div class="nav-icon">
						<span class="icon-general icon-jobs"></span>
					</div>
					<div class="nav-text">Jobs</div>
				</div>
			</a>
		</li>
		<li class="nav-item">
			<a href="store.html" class="nav-link" role="link" aria-label="Store">
				<div class="nav-flex">
					<div class="nav-icon">
						<span class="nav-badge">9</span>
						<span class="icon-general icon-store"></span>
					</div>
					<div class="nav-text">Store</div>
				</div>
			</a>
		</li>
	</ol>
</nav>
