<aside class="aside -fixed">
	<div class="aside-scroll" id="aside-scroll">
		<div class="aside-block">
			<!-- hot sale -->
			<h3 class="title-aside">Hot Sale</h3>
			<div class="store-promo">
				<div class="product-list product-promo">
					<div class="product-item">
						<a href="store-detail.html" role="link">
							<div class="product-card">
								<div class="product-img">
									<span>
										<img src="https://source.unsplash.com/GUT0T_UA5KI/150x150" alt="">
									</span>
								</div>
								<div class="product-info">
									<h3 class="product-title">Akar Rempah Borneo</h3>
									<div class="product-price">Rp.20.000,-</div>
									<div class="product-location">Pontianak</div>
								</div>
							</div>
						</a>
					</div>
					<div class="product-item">
						<a href="store-detail.html" role="link">
							<div class="product-card">
								<div class="product-img">
									<span>
										<img src="https://source.unsplash.com/gjR2sh-s970/150x150" alt="">
									</span>
								</div>
								<div class="product-info">
									<h3 class="product-title">Pisang Malinau</h3>
									<div class="product-price">Rp.20.000,-</div>
									<div class="product-location">Malinau</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>

			<!-- trending -->
			<h3 class="title-aside">Trending</h3>
			<div class="trending box">
				<div class="trending-item">
					<div class="trending-info">
						<a href="neoblog-detail.html" role="link">
							<h3 class="trending-title">Siapakah suku dayak tertua di Kalimantan?</h3>
							<div class="trending-stat">21k Read</div>
						</a>
					</div>
				</div>
				<div class="trending-item">
					<div class="trending-info">
						<a href="qna-question-detail.html" role="link">
							<h3 class="trending-title">Di mana Pisang Goreng di Malinau yang paling terkenal?</h3>
							<div class="trending-stat">15k Answer, 17k Read</div>
						</a>
					</div>
				</div>
				<div class="trending-item">
					<div class="trending-info">
						<a href="qna-question-detail.html" role="link">
							<h3 class="trending-title">Apa merek makanan/usaha kuliner yang dimiliki artis namun sudah tidak ada lagi/bangkrut?</h3>
							<div class="trending-stat">10k Answer, 7k Read</div>
						</a>
					</div>
				</div>
				<div class="trending-item">
					<div class="trending-info">
						<a href="qna-question-detail.html" role="link">
							<h3 class="trending-title">Apakah pantai paling indah di Kalimantan?</h3>
							<div class="trending-stat">8k Answer, 2k Read</div>
						</a>
					</div>
				</div>
				<div class="trending-item">
					<div class="trending-info">
						<a href="qna-question-detail.html" role="link">
							<h3 class="trending-title">Apakah mungkin suatu negara memiliki pertumbuhan ekonomi yang tinggi namun tingkat inflasinya rendah?</h3>
							<div class="trending-stat">245 Answer, 1k Read</div>
						</a>
					</div>
				</div>
				<div class="trending-item">
					<div class="trending-img">
						<img src="https://assets.ytprayeh.com/usr/masri/avatar/asam%20pauh%20belimbing%20batu.jpg" alt="">
					</div>
					<div class="trending-info">
						<a href="figure-detail.html" role="link">
							<h3 class="trending-title">Prof. Masri Sareb</h3>
							<div class="trending-bio">Penulis, Aktivis Suku Dayak</div>
							<div class="trending-stat">980 Read</div>
						</a>
					</div>
				</div>
				<div class="trending-item">
					<div class="trending-info">
						<a href="neoblog-detail.html" role="link">
							<h3 class="trending-title">Kekonyolan dan Kemunafikan Kita Di TTS</h3>
							<div class="trending-stat">238 Read</div>
						</a>
					</div>
				</div>
				<div class="trending-item">
					<div class="trending-info">
						<a href="neoblog-detail.html" role="link">
							<h3 class="trending-title">Era Digital, Seniman Ahmad Hady Surya Siap Hadirkan Karya Unik dan Langka</h3>
							<div class="trending-stat">101 Read</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</aside>
